<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Inicio</th>
            <th>Empresa</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (proyecto of proyectos; track proyecto.id_proyecto){
        <tr>
            <td>{{proyecto.nombre}}</td>
            <td>{{proyecto.inicio | date: 'dd/MM/yyyy' }}</td>
            <td>{{proyecto.empresa}}</td>
            @if (proyecto.estado == 1){
            <td class="bg-success">Activo</td>
            <td><button class="btn btn-primary">Iniciar</button></td>
            }@else{
            <td class="bg-danger">Cerrado</td>
            <td></td>
            }
        </tr>
        }
    </tbody>
</table>